.outline-button {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    padding: 5px 20px;
    border: 1px solid var(--color-rose-400);
    font-weight: 600;

    &:hover {
        background: white;
        box-shadow: 0 4px 40px var(--color-rose-200);
        border-color: var(--color-rose-100);
        color: var(--color-rose-300);
        span {
            text-shadow: none;
        }
        transform: translateY(-2px);
    }
}
